.text-left{
    margin-left: 55px;
    margin-top: 7px;
    text-align: left !important;
    padding: 0 !important;
}

.top-5{ margin-top: 5px; }
.top-7{ margin-top: 7px; }
.top-10{ margin-top: 10px; }
.top-15{ margin-top: 15px; }
.top-20{ margin-top: 20px; }
.top-25{ margin-top: 25px; }
.top-30{ margin-top: 30px; }
.top-120{ margin-top: 120px; }
.top-150{ margin-top: 150px; }
.top-250{ margin-top: 250px; }

.bottom-5{ margin-bottom: 5px; }
.bottom-10{ margin-bottom: 10px; }
.bottom-15{ margin-bottom: 15px; }
.bottom-20{ margin-bottom: 20px; }
.bottom-25{ margin-bottom: 25px; }
.bottom-30{ margin-bottom: 30px; }

.left-10{margin-left: 10px;}
.left-15{margin-left: 15px;}
.left-20{margin-left: 20px;}
.left-25{margin-left: 25px;}
.left-30{margin-left: 30px;}

.right-10{margin-right: 10px;}
.right-15{margin-right: 15px;}
.right-20{margin-right: 20px;}
.right-25{margin-right: 25px;}
.right-30{margin-right: 30px;}

.fix-width-400{min-width:400px;}
.fix-width-490{min-width:490px;}

#content hr {
    margin: 25px 0;
}

.none-left{
    padding-left: 0;
    margin-left: 0;
}

.none-right{
    padding-right: 0;
    margin-right: 0;
}


/* ==== preloader ====*/
#loader-big{
    display: none;
    position: fixed;
    width: 220px;
    height:60px;
    top: 60px;
    left: 50%;
    z-index: 9999999;
}

.cssload-box {
    position: absolute;
    width: 210px;
    height: 56px;
    left: 45%;
    margin-left: -105px;
}

.cssload-loading:after {
    content: '';
    position: absolute;
    left: -28px;
    display: block;
    width: 28px;
    height: 35px;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61,195,255,0.2);
    transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    animation: cssload-loadingAnim 2.3s linear infinite;
    -o-animation: cssload-loadingAnim 2.3s linear infinite;
    -ms-animation: cssload-loadingAnim 2.3s linear infinite;
    -webkit-animation: cssload-loadingAnim 2.3s linear infinite;
    -moz-animation: cssload-loadingAnim 2.3s linear infinite;
}

@keyframes cssload-loadingAnim {
    0% {
        box-shadow: 34px 0 0px rgb(61,195,255), 67px 0 1px rgba(61,195,255,0.8), 101px 0 3px rgba(61,195,255,0.6), 134px 0 4px rgba(61,195,255,0.4), 168px 0 6px rgba(61,195,255,0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 0px #3dc3ff, 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 1px rgba(61, 195, 255, 0.8), 134px 0 0px #3dc3ff, 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 0px #3dc3ff, 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 34px 0 7px rgba(61, 195, 255, 0), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 3px rgba(61, 195, 255, 0.6), 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 7px rgba(61, 195, 255, 0), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 7px rgba(61, 195, 255, 0), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 4px rgba(61, 195, 255, 0.4), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 7px rgba(61, 195, 255, 0), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 34px 0 1px rgba(61, 195, 255, 0.8), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 7px rgba(61, 195, 255, 0), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 34px 0 0px #3dc3ff, 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
}

@-o-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 34px 0 0px rgb(61,195,255), 67px 0 1px rgba(61,195,255,0.8), 101px 0 3px rgba(61,195,255,0.6), 134px 0 4px rgba(61,195,255,0.4), 168px 0 6px rgba(61,195,255,0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 0px #3dc3ff, 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 1px rgba(61, 195, 255, 0.8), 134px 0 0px #3dc3ff, 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 0px #3dc3ff, 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 34px 0 7px rgba(61, 195, 255, 0), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 3px rgba(61, 195, 255, 0.6), 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 7px rgba(61, 195, 255, 0), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 7px rgba(61, 195, 255, 0), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 4px rgba(61, 195, 255, 0.4), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 7px rgba(61, 195, 255, 0), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 34px 0 1px rgba(61, 195, 255, 0.8), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 7px rgba(61, 195, 255, 0), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 34px 0 0px #3dc3ff, 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
}

@-ms-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 34px 0 0px rgb(61,195,255), 67px 0 1px rgba(61,195,255,0.8), 101px 0 3px rgba(61,195,255,0.6), 134px 0 4px rgba(61,195,255,0.4), 168px 0 6px rgba(61,195,255,0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 0px #3dc3ff, 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 1px rgba(61, 195, 255, 0.8), 134px 0 0px #3dc3ff, 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 0px #3dc3ff, 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 34px 0 7px rgba(61, 195, 255, 0), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 3px rgba(61, 195, 255, 0.6), 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 7px rgba(61, 195, 255, 0), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 7px rgba(61, 195, 255, 0), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 4px rgba(61, 195, 255, 0.4), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 7px rgba(61, 195, 255, 0), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 34px 0 1px rgba(61, 195, 255, 0.8), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 7px rgba(61, 195, 255, 0), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 34px 0 0px #3dc3ff, 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
}

@-webkit-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 34px 0 0px rgb(61,195,255), 67px 0 1px rgba(61,195,255,0.8), 101px 0 3px rgba(61,195,255,0.6), 134px 0 4px rgba(61,195,255,0.4), 168px 0 6px rgba(61,195,255,0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 0px #3dc3ff, 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 1px rgba(61, 195, 255, 0.8), 134px 0 0px #3dc3ff, 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 0px #3dc3ff, 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 34px 0 7px rgba(61, 195, 255, 0), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 3px rgba(61, 195, 255, 0.6), 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 7px rgba(61, 195, 255, 0), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 7px rgba(61, 195, 255, 0), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 4px rgba(61, 195, 255, 0.4), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 7px rgba(61, 195, 255, 0), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 34px 0 1px rgba(61, 195, 255, 0.8), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 7px rgba(61, 195, 255, 0), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 34px 0 0px #3dc3ff, 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
}

@-moz-keyframes cssload-loadingAnim {
    0% {
        box-shadow: 34px 0 0px rgb(61,195,255), 67px 0 1px rgba(61,195,255,0.8), 101px 0 3px rgba(61,195,255,0.6), 134px 0 4px rgba(61,195,255,0.4), 168px 0 6px rgba(61,195,255,0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
    10% {
        box-shadow: 34px 0 1px rgba(61,195,255,0.8), 67px 0 0px rgb(61,195,255), 101px 0 1px rgba(61,195,255,0.8), 134px 0 3px rgba(61,195,255,0.6), 168px 0 4px rgba(61,195,255,0.4), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    20% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 0px #3dc3ff, 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    30% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 1px rgba(61, 195, 255, 0.8), 134px 0 0px #3dc3ff, 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    40% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 1px rgba(61, 195, 255, 0.8), 168px 0 0px #3dc3ff, 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    50% {
        box-shadow: 34px 0 7px rgba(61, 195, 255, 0), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 3px rgba(61, 195, 255, 0.6), 168px 0 1px rgba(61, 195, 255, 0.8), 202px 0 0px #3dc3ff;
    }
    60% {
        box-shadow: 34px 0 6px rgba(61, 195, 255, 0.2), 67px 0 7px rgba(61, 195, 255, 0), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 3px rgba(61, 195, 255, 0.6), 202px 0 1px rgba(61, 195, 255, 0.8);
    }
    70% {
        box-shadow: 34px 0 4px rgba(61, 195, 255, 0.4), 67px 0 6px rgba(61, 195, 255, 0.2), 101px 0 7px rgba(61, 195, 255, 0), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 4px rgba(61, 195, 255, 0.4), 202px 0 3px rgba(61, 195, 255, 0.6);
    }
    80% {
        box-shadow: 34px 0 3px rgba(61, 195, 255, 0.6), 67px 0 4px rgba(61, 195, 255, 0.4), 101px 0 6px rgba(61, 195, 255, 0.2), 134px 0 7px rgba(61, 195, 255, 0), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 4px rgba(61, 195, 255, 0.4);
    }
    90% {
        box-shadow: 34px 0 1px rgba(61, 195, 255, 0.8), 67px 0 3px rgba(61, 195, 255, 0.6), 101px 0 4px rgba(61, 195, 255, 0.4), 134px 0 6px rgba(61, 195, 255, 0.2), 168px 0 7px rgba(61, 195, 255, 0), 202px 0 6px rgba(61, 195, 255, 0.2);
    }
    100% {
        box-shadow: 34px 0 0px #3dc3ff, 67px 0 1px rgba(61, 195, 255, 0.8), 101px 0 3px rgba(61, 195, 255, 0.6), 134px 0 4px rgba(61, 195, 255, 0.4), 168px 0 6px rgba(61, 195, 255, 0.2), 202px 0 7px rgba(61, 195, 255, 0);
    }
}
/* ==== [e] preloader ====*/

.navbar {
    border-bottom: 1px solid transparent; }

.header-btns > div > button:focus {
    color: #666; }

.header-btns > div > button:hover {
    color: #0094d2; }

#user-top-menu .btn{color:#666;}
.user-menu .dropdown-menu a{padding: 3px 5px;}
.user-menu .dropdown-signout a{
    width: 70%;
    display: inline-block;
}

#connect-info{
    display:none;
    position:absolute;
    top: 2px;
    width: 100%;
    height: 50px;
    z-index: 9999;
}

#connect-info.online{background-color: rgba(42,152,215,.80);}
#connect-info.offline{background-color: rgba(191,0,0,.70);}
#connect-info.online .false{display:none;}
#connect-info.offline .success{display:none;}

#connect-info div{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 12px;
    color: #fff;
}

#autosave{
    height: 34px;
    width: 200px;
    margin-left: 15px;
    float: left;
}
#autosave .loader{
    height: 24px;
    width: 24px;
    background-image: url(/admin/template/img/fl.gif);
    display: inline-block;
    margin: 5px 15px 0 0;
}
#autosave .text{
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    margin-top: 6px;
    font-size: 14px;
}

.submit-pane {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.61);
    height: 65px;
    padding: 10px 30px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
    .submit-pane{left: 40px;}
    #checkUrl{margin: 0 10px 0 0;}
    .menu-loader{display: none;}
}
@media (min-width: 1200px) {
    .submit-pane{left: 240px;}
    #checkUrl{margin: 0 210px 0 0;}
}

.success{color: #14B309;}
.warning{color: #F0AE03;}
.info{color: #428BCA;}
.error{color:#ff0000;}

.submit-pane:after { clear: both; display: block; content: ""; }
.submit-pane .btn, .submit-pane select { float: left; margin-right: 15px; }
.submit-pane .pull-right { margin: 0 0 0 15px; }
.submit-pane select { width: auto; }
.submit-pane select.published { border-color: #7cc576; color: #7cc576; }
.submit-pane select.trash { border-color: #e24642; color: #e24642; }
.submit-pane select.wait { border-color: #f0ad4e; color: #f0ad4e; }
.submit-pane select:hover { border-color: #a2a2a2 !important; color: #333 !important; }

.fm-btn{
    margin: 0 0 10px 15px;
    background-color: whitesmoke;
}

#sys-menu [data-action="collapse"]{
    top: 1px;
}
#sys-menu [data-action="expand"]{
    top: 2px;
}

[data-action="collapse"],[data-action="expand"]{outline: none;top: -1px;left: 5px;height: 16px !important;width: 16px !important;line-height: 10px !important;padding: 0  !important;background: transparent;border: none;}
[data-action="collapse"]:before {content: '-'; }
[data-action="expand"]:before{
    content: '+';
    display: block;
    text-align: center;
    text-indent: 0;
}

.dd-handle{padding-left: 24px;}
.users .dd-handle.active, .setting .dd-handle.active{border-color: #14B903;}

/*#login-overlap, #login-check-field, #pass-length, #overlap, #email-overlap, #email-check_field {display: none;}*/

.list.status{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    cursor:pointer;
    display: block;
}

.list.status.active{background-color: #00B300;}
.list.status.inactive{background-color:red;}

.balans .icon{
    margin: 0 5px 0 0;
    font-size: 15px !important;
    position: relative;
    top: 1px;
}

th.status{
    width: 46px;
}

th.mass{
    width: 30px;
}

.aside.domains-view .domain-list{display:block;}
.aside .domain-list{
    overflow-y: auto;
    list-style:none;
    padding: 0;
    display:none;
    width: 100%;
}

.aside .domain-list li {
    padding: 10px 14px;
    margin: 0;
    border-bottom: 1px solid #DDD;
    z-index: 888;
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.aside .domain-list li:hover{background-color: rgba(204, 204, 204, 0.4);}


.locale-view .locale-menu{display:block}
.locale-menu{position:relative;display:none;}
.locale-menu button{width: 40px;}
.active-locale{top: 2px;left: 6px;position: absolute;}
.active-locale img{top: 0px;width: 24px;height: 24px;display: block;}
.locale-menu .flag, .locale-menu .lang-name{display: inline-block;}
.locale-menu .lang-name{position: relative;top: 3px;left: 5px;}
.locale-menu ul{list-style:none;padding: 0;}
.locale-menu .items li{padding: 0 14px;margin: 0;border-bottom: 1px solid #DDD;cursor: pointer;}
.locale-menu .items li:hover{
    background-color: rgba(204,204,204,0.4);
}
.locale-menu .items .active {background: rgba(204,204,204,0.4);}

.user-menu-view .account-menu{display:block;}
.account-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

.account-menu li{
    padding: 5px 14px;
    margin: 0;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.aside .item-icon{
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    color: #888;
}

.aside .item-message {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.aside a{text-decoration: none;}
.aside a:hover {
    background: transparent;
    text-decoration: none;
    color: #666;
}

/* ================================================================================================================== */

.aside-open {
    transition: transform 0.3s;
}
.aside-open.has-push-right {
    transform: translateX(-300px);
}
.aside {
    position: fixed;
    top: 52px;
    bottom: 0;
    z-index: 10000;
    overflow: auto;
    background: #fff;
}

.aside .aside-title{
    margin: 10px 0;
    min-height: 18px;
}

.aside.left {
    left: 0;
    right: auto;
}
.aside.right {
    left: auto;
    right: 0;
}

.slideleft-enter {
    animation:slideleft-in .3s;
}
.slideleft-leave {
    animation:slideleft-out .3s;
}
@keyframes slideleft-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideleft-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
.slideright-enter {
    animation:slideright-in .3s;
}
.slideright-leave {
    animation:slideright-out .3s;
}
@keyframes slideright-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideright-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.aside:focus {
    outline: 0
}

@media (max-width: 991px) {
    .aside {
        min-width:240px
    }
}

.aside.left {
    right: auto;
    left: 0
}

.aside.right {
    right: 0;
    left: auto
}

.aside .aside-dialog .aside-header {
    border-bottom: 1px solid #ddd;
    min-height: 16.43px;
    padding: 6px 15px;
    background: #f5f5f5;
    color: #333;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.aside .aside-dialog .aside-header .close {
    margin-right: -8px;
    padding: 4px 8px;
    color: #000;
    font-size: 25px;
    opacity: .8;
    outline: none;
}

.aside .aside-dialog .aside-body {
    position: relative;
    padding: 10px;
}

.aside .aside-dialog .aside-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.aside .aside-dialog .aside-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.aside .aside-dialog .aside-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.aside .aside-dialog .aside-footer .btn-block+.btn-block {
    margin-left: 0
}

.aside-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    opacity: 0;
    transition: opacity .3s ease;
    background-color: #000
}


.aside-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

/* ================================================================================================================== */


.dd-item .functions {
    position: absolute;
    right: 5px;
    top: 5px;
}

.dd-item .functions .status{
    width: 16px;
    height: 16px;
    top: -1px;
    margin-right: 2px;
}

#sidebar .list.status{
    position:absolute;
    top: 17px;
    right: 21px;
    display:block;
    height: 11px !important;
    width: 10px !important;
}

.go-link{color:#0DA00D;}
.go-link.alert{color:red;}

.module-list{
    font-size: 18px;
    width: 28px;
    margin-right: 5px;
    padding: 0;
}
.module-list:not(.collapsed) .fa-angle-double-down{display: none;}
.module-list.collapsed .fa-angle-double-up{display: none;}

#content.domains .num{
    width: 80px;
    font-weight: bold;
}

.avatar-block{
    width: 100px;
    height: 100px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


.domains .user-list ul{list-style:none;padding-left: 15px;}
.domains .user-list li{
    position: relative;
    border-bottom: 1px solid #ccc;
}
.domains .user-list .info{
    width: 70%;
    display: inline-block;
    margin-left: 10px;
}
.domains .user-list .info div{
    color: #000;
}
.domains .user-list .info small{color: #5D5C5C;font-weight: bold;font-size: 11px;}
.domains .user-list .admin{
    height: 22px;
}
.domains .user-list .partner{
    font-size: 14px;
    padding: 0;
    width: 25px;
}
.domains .user-list .functions{
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.table caption {
    font-weight: bold;
}

.robots-list{
    list-style:none;
    margin:0;
    padding:10px;
    border: 1px solid #C5CECF;
}

.robots-list .delete{display:none;cursor:pointer;color: red;}
.robots-list li:hover .delete{display:inline-block;}

.letter-vars{list-style:none;}
.letter-vars .info{
    font-size: 12px;
    padding: 3px 5px;
    background-color: #428BCA;
    color: #fff;
    border-radius: 3px;
    cursor:pointer;
}

.menu [data-action="expand"]{top: -2px;}
.menu [data-action="collapse"]{top: -4px;}

.form-generator hr {margin: 15px 0;}
.form-generator .controls i{float:right;}

#modules-block .status.list{
    float: right;
    margin-top: 9px;
}

#content-locale-btn{
    padding: 4px 12px 4px 5px;
    outline:none;
}
#city-list-btn{outline:none;}
#content-locale-btn{width: 120px;}

#city-list, #content-locale{
    list-style: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0;
    padding-bottom:0;
    margin: 0;
}
#content-locale{width: 110px;left: 0;bottom: 37px;}
#city-list{
    bottom: 37px;
    left: 0;
    width: 320px;
    overflow-y: auto;
    max-height: 300px;
}

#content-locale-block, #city-list-block{position:relative;display: inline-block;}
#city-list .active, #content-locale .active{background-color: rgba(204, 204, 204, 0.5);}
#city-list li, #content-locale li{cursor:pointer;padding:5px 8px;margin:0;}
#city-list li:hover, #content-locale li:hover{background-color: rgba(204, 204, 204, 1);}
#content-locale span{
    margin-left: 9px;
}

#cities-domain, #cities-list{
    position:relative;
}

#cities-domain, #cities-list ul{
    list-style:none;
    min-height: 200px;
    overflow-y: auto;
    padding-left: 10px;
}
#cities-list ul{margin-top: 35px;max-height:500px;}
#cities-domain{max-height:700px;}

#cities-domain li, #cities-list li{
    height: 26px;
    position: relative;
    padding-left: 7px;
    line-height: 26px;
    margin: 0;
}

#cities-domain li:hover, #cities-list li:hover{
    background-color: rgba(204, 204, 204, 0.4);
}

#cities-domain .city, #cities-list .city{
    font-weight: bold;
}
#cities-domain .region, #cities-list .region{
    color: #676767;
}

#cities-domain .name, #cities-list .name{width:85%;vertical-align: middle;}
#cities-domain .function, #cities-list .function{
    display: block;
    position: absolute;
    top: -1px;
    right: 2px;
}

#city-load{
    display: none;
    position: absolute;
    top: 45px;
    left: 30px;
    font-weight: bold;
    color: #9A9A9A;
}

#city-load.active{display: inline-block;}

#generate-btns{
    position: absolute;
    top: 7px;
    right: 20px;
}

#sidebar{top: 52px;}

.logs .tab-content ul{
    margin:0;
    padding:0;
    list-style:none;
}

.spinner{
    background-image: url(/admin/template/img/middle-spinner.gif);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999;
}
.spinner.big{}
.spinner.middle{}
.spinner.mini{
    background-image: url(/admin/template/img/spinner_24.gif);
    width: 30px;
    height: 30px;
}

.logs .panel-body{min-height: 350px;position: relative;}
.logs .tab-content li{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.logs .info, .logs .function{display: inline-table;}
.logs .info{width: 96%;}
.logs .function{width: 50px;}


.logs .spinner,
.services .spinner{
    top: 30px;
    left: 50%;
}

.setting .panel.panel-default {
    margin-bottom: 10px;
}

.services tr .descr{
    color: #B5B4B4;
    font-size: 12px;
}

header #auth-block .spinner{
    right: 15px;
    top: 15px;
}

#links .module-content{
    margin: 10px 0 0;
    padding-left: 15px;
    padding-bottom: 20px;
    list-style: none;
}
#links .module-content li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    margin: 0;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
}
#links .module-content li:hover{
    background-color: rgba(204, 204, 204, 0.4);
}

#links .spinner-block{
    position: relative;
}
#links .spinner{
    position: absolute;
    top: 0;
    right: 0;
}

.contact-block{}
.contact-block .ico{
    /*padding-top: 17px;*/
}
.contact-block .function{
    padding-top: 13px;
}

.contact-block tr .add{
    display: none;
}
.contact-block tr:last-child .add{
    display: inline-block;
}

.contacts-list{
    position: relative;
}
.contacts-list .function{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}

.contacts-list ul{
    list-style: none;
    padding-left: 10px;
}

.contacts .uk-nestable-handle{
    height:34px;
}

.contacts-list .uk-nestable-handle{
    height:20px;
    position:absolute;
    top:5px;
    left: 5px;
}

.contacts-list .thumbnail{
    padding-left: 20px;
}

.uk-nestable-list .btn .glyphicon,
.contacts-list .btn .glyphicon {
    line-height: 18px;
    top: 0;
}

.uk-nestable-list .ui-sortable-handle{
    height: 34px;
}

.uk-nestable-list .ui-sortable-handle i{height: 20px;margin-top: 3px;}

.menu-loader{
    position: absolute;
    top: 5px;
    height: 300px;
    width: 100%;
    background: #fff url(/admin/template/img/middle-spinner.gif) center no-repeat;
    z-index: 99999;
}

.contacts .col-xs-6 .spinner{
    top: 75px;
    left: 45%;
}

.map-view{
    width: 100%;
    height: 350px;
}

.letters ul{list-style:none;}
.letters .label.label-info{font-size: 12px;cursor:pointer;}

#category-item .spinner{
    display: inline-block;
    right: 215px;
}

.articles .spinner{
    position: fixed;
    top: 50%;
    left: 50%;
}

.payment-list{
    position: relative;
}
.payment-list .function{
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 999;
}


.widget {
    margin: 0 auto 10px;
    position: relative;
    box-sizing: border-box;
}

.widget header h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 15px;
    font-size: 1em;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.widget header {
    background: #F5F5F5;
    color: #23282d;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.widget .widget-inside{
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border-top: none;
    padding: 5px 15px 5px;
    line-height: 16px;
}

.widgets-holder-wrap {
    margin: 0 auto 10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.widgets-holder-wrap .sidebar-name {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-name-arrow {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
}

.sidebar-name-arrow button{min-width:20px;text-align:center;}

.sidebar-name h2, .sidebar-name h3 {
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    white-space: nowrap
}

.widgets-holder-wrap.closed .inner-list{display:none;}
.widgets-holder-wrap .inner-list{
    padding: 10px;
}

.area-head,.area-list{position: relative;}
.area-head .add{
    position: absolute;
    top: 15px;
    right: 10px;
}

.widget-list-wrap{padding-bottom: 50px;position: relative;}
.widget-list-wrap header{cursor: pointer;}
.widget-list-wrap .widget-inside{padding:0;border-top: 0;}
.widget-list-wrap .widget-description{
    color: #929090;
    padding: 5px 15px;
    font-size: 12px;
}

.widget-list-wrap .widget-in-question{
    z-index: 100;
}

.widget-list-wrap .widget-in-question .widget-inside{
    background-color: rgba(255, 255, 255, 0.5);
}

.widget-overlay.show{display:block;}
.widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 99;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    opacity: .7;
    display: none;
}


.widget .function{
    position: absolute;
    top: 10px;
    right: 10px;
}

.widget .function button{min-width:20px;text-align:center;}

.area-list .widget.closed .widget-inside{display:none;}
.area-list .widget .widget-inside{display:block;position: relative;}


.widgets-chooser ul.widgets-chooser-sidebars {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
    max-height: 300px;
    overflow: auto;
}

.widgets-chooser {
    display: none
}

.widgets-chooser ul {
    border: 1px solid #ccc
}

.widgets-chooser li {
    padding: 10px 15px 10px 35px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out
}

.widgets-chooser li i{
    position: absolute;
    top: 13px;
    left: 15px;
    display:none;
}

.widgets-chooser .widgets-chooser-selected i{display:block;}

.widgets-chooser li:focus,.widgets-chooser li:hover {
    background: rgba(255,255,255,.7)
}

.widgets-chooser li:focus:before {
    display: block;
    -webkit-font-smoothing: antialiased;
    font: 400 26px/1 dashicons;
    color: #555d66;
    position: absolute;
    top: 7px;
    left: 5px
}

.widgets-chooser li:last-child {
    border: none
}

.widgets-chooser li.widgets-chooser-selected {
    background: #00a0d2;
    color: #fff
}

.widgets-chooser li.widgets-chooser-selected:before,.widgets-chooser li.widgets-chooser-selected:focus:before {
    display: block;
    -webkit-font-smoothing: antialiased;
    font: 400 26px/1 dashicons;
    color: #fff;
    position: absolute;
    top: 7px;
    left: 5px;
}

.widgets-chooser .widgets-chooser-actions {
    padding: 10px 0 12px;
    text-align: center
}

.widgets-chooser button {
    margin-right: 5px
}

.widgets .no-menu{
    padding: 10px;
}
.widgets .no-menu a{
    color: #0073aa;
}

.widget.in-area .spinner{
    top:5px;
    right:5px;
}

#new-area{
    position:absolute;
    top: 0;
    left:0;
    background-color:#fff;
    width:100%;
    padding:10px;
    z-index:100;
}