[id*="fm-loader-"]{
    display: none;
    position: absolute !important;
    width: 24px;
    background-image: url(../img/fl.gif);
    height: 24px;
    top: 9px;
    right: 10px;
}

[id*="fm_container-"]{background-color: #FCFCFC;padding: 10px;position:relative;}
[id*="fm_container-"] .breadcrumb{
    padding-top: 5px;
    margin-top: 0;
}
[id*="fm_container-"] button, #left-sidebar button{outline:none;}
[id*="fm_container-"] #left-sidebar,[id*="fm_container-"] #right-sidebar{
    display:inline-block;
    min-height: 500px;
    margin: 0;
    padding: 0;
}
[id*="fm_container-"] #left-sidebar{
    min-width:250px;
    width:25%;
    border: 1px solid #ececec;
}
[id*="fm_container-"] #right-sidebar{
    width: 74%;
    margin-left: 1%;
    border: 1px solid #ececec;
    position: relative;
}

[id*="fm_container-"] #left-sidebar ul,[id*="fm_container-"] #right-sidebar ul{
    list-style:none;
}

[id*="fm_container-"] #right-sidebar ul{margin:0;padding: 10px;}
[id*="fm_container-"] #right-sidebar .grid li{
    border: 0;
    width: 180px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

[id*="fm_container-"] #right-sidebar .list li{margin-bottom: 0;position: relative;}

[id*="fm_container-"] #right-sidebar button{outline:none;}
[id*="fm_container-"] #right-sidebar li .item{
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

[id*="fm_container-"] #right-sidebar .grid li .item.select-item{
    border-color: #000;
}

[id*="fm_container-"] #right-sidebar .grid .ico-item{
    width: 180px;
    height: 100px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

#right-sidebar .grid .item-checkbox{
    position:absolute;
    right: 15px;
}

#right-sidebar .grid .item-name{
    padding: 0 5px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
}

#right-sidebar .btn-group.active button{color: #A0A0A0;outline: none;}

[id*="fm_container-"] #right-sidebar .list .item:hover,
[id*="fm_container-"] #right-sidebar .list .item:hover .item-checkbox{
    color: #f46c00;
    background-color: #fff !important;
}

[id*="fm_container-"] #right-sidebar .list .item:hover .item-checkbox{
    color:rgb(102, 102, 102);
}

[id*="fm_container-"] #right-sidebar .list .item.select-item{
    background-color: #f2f3f3;
}

#right-sidebar .list .item{height:35px}

#right-sidebar .list .item-checkbox{
    width: 30px;
    height: 33px;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    background-color: #f2f3f3;
}
#right-sidebar .list .item-head{
}
#right-sidebar .list .ico-item{
    height: 26px;
    width: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82%;
    position: absolute;
    left: 34px;
    top: 5px;
}

#right-sidebar .list .item-name{display: inline-block;margin-left: 30px;}

#right-sidebar hr{
    margin: 10px 0 0 0;
}

#right-sidebar .pull-left button:first-child{
    padding-top: 0px;
    padding-bottom: 5px;
}

#right-sidebar .pull-left .remove button{
    padding-top: 3px;
    padding-bottom: 2px;
}

#left-sidebar{
    padding: 10px !important;
}
#left-sidebar ul{padding-left: 0;}
#left-sidebar .item .action{
    font-size: 8px;
    position: absolute;
    left: 0;
    top: 4px;
}

#left-sidebar .item .action i{cursor:pointer;}

#left-sidebar .item .name{
    cursor:pointer;
}

#left-sidebar li{
    position:relative;
}

#left-sidebar li .item{
    margin-left: 10px;
}

#left-sidebar .subdirs{
    margin-top: 5px;
}

#left-sidebar .subdirs ul{
    margin-left: 5px;
}

#left-sidebar .dropdown-menu li{
    margin-bottom: 0px;
}


.uk-modal-dialog .fm-datalist{
    overflow-y: auto;
}

[id*="upload-block-"]{
    position:absolute;
    top: 70px;
    width:450px;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

[id*="upload-block-"] .head{
    font-size: 18px;
    margin: 20px;
    overflow: hidden;
    color: #9f9f9f;
}

[id*="upload-block-"] .head .close{
    font-size: 12px;
}

[id*="upload-block-"] .drop{
    width: 90%;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    height: 160px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 -160px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
[id*="upload-block-"] .foot{
    width: 90%;
    margin: 0 auto 0;
}

[id*="upload-block-"] .overlay{
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; */
}

[id*="upload-block-"] .dz-default{
    position: absolute;
    top: 70px !important;
    height: 253px !important;
}

[id*="upload-block-"] .dz-default span{
    color: #9f9f9f;
    font-size: 16px;
    text-align: center;
    width: 170px;
    position: absolute;
    top: 95px;
    left: 50%;
    margin-top: -1.4em;
    margin-left: -95px;
}

[id*="upload-block-"].dz-drag-hover .drop{background-color: #D6D6D6;}

[id*="upload-block-"].dropzone{
    min-height: 300px;
}

[id*="upload-block-"] [type="file"]{display:none;}

#fmUpload-list{
    position:fixed;
    bottom:0;
    right:0;
    width:440px;
    min-height: 39px;
    background-color: #FBFBFB;
    z-index:99999;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

#fmUpload-list .head{
    border-radius: 2px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 -1px rgba(0, 0, 0, 0.6), inset 0 1px rgba(255, 255, 255, 0.25);
    padding: 7px 10px 12px 25px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

#fmUpload-list .maxi, #fmUpload-list .mini,#fmUpload-list .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}
#fmUpload-list .mini{color: #838383;}
#fmUpload-list .maxi{
    top: 12px !important;
    right: 28px;
    font-weight: bold;
    height: 10px;
    width: 13px;
    border: 3px solid #828282;
    background: none;
    cursor: pointer;
}
#fmUpload-list .maxi:hover{
    border-color: #B1B1B1;
}
#fmUpload-list .close{color: #FFF;}
#fmUpload-list .mini{
    top: 12px;
    right: 23px;
    background: none;
    border: none;
}
#fmUpload-list .list{
    overflow-y: auto;
    max-height: 430px;
}

#fmUpload-list .dz-preview{
    padding: 8px 10px 8px 30px;
    position: relative;
    clear: both;
}

#fmUpload-list .dz-preview:hover{
    background-color: rgba(204, 204, 204, 0.21);
}

#fmUpload-list .dz-success-mark, #fmUpload-list .dz-error-mark{
    position: absolute;
    display: none;
    float: left;
    width: 24px;
    height: 24px;
    top: 5px;
    left: 6px;
}
#fmUpload-list .dz-success .dz-success-mark,
#fmUpload-list .dz-error .dz-error-mark{display:block}
#fmUpload-list .dz-details{display: inline-block;margin-left: 10px;width: 95%;z-index: 10;}
#fmUpload-list .dz-size,#fmUpload-list .dz-filename{
    display: inline-block;
}
#fmUpload-list .dz-error .dz-success-mark{display:none;}
#fmUpload-list .dz-size{
    float: right;
}
#fmUpload-list .dz-filename{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 86%;
}
#fmUpload-list .dz-success-mark svg,#fmUpload-list .dz-error-mark svg{
    width: 24px;
    height: 24px;
}
#fmUpload-list .dz-success-mark path{fill: #098E02;}
#fmUpload-list .dz-error-mark path{fill: rgb(255, 0, 0);}
#fmUpload-list .dz-image{display:none;}
#fmUpload-list .dz-error-message{
    margin-left: 10px;
    font-style: italic;
    color: red;
}
#fmUpload-list .dz-progress{
    display: block;
    position: absolute;
    height: 20px;
    width: 90%;
    top: 7px;
    left: 35px;
    opacity: .2;
    z-index: 1;
}
#fmUpload-list .dz-complete .dz-progress{display:none;}
#fmUpload-list .dz-progress .dz-upload{
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    border-radius: 5px;
}