<div>
    <div class="form-group">
        <label>{{lang.label.header}}</label>
        <input type="text" class="form-control" v-model="data.title">
    </div>
    <div class="form-group">
        <label>{{lang.label.text}}</label>
        <textarea class="form-control" v-model="data.text"></textarea>
    </div>
</div>