<div>

    <div class="spinner mini" v-show="isLoading"></div>

    <div class="form-horizontal top-5" v-if="list.length>0">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{lang.label.header}}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="data.title">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{lang.widgets.sm}}</label>
            <div class="col-sm-4">
                <select class="form-control" v-model="data.menu_id">
                    <option v-for="L in list" :value="L._id" v-if="L.enabled">{{L.title}}</option>
                </select>
            </div>
        </div>
    </div>


    <div class="no-menu" v-if="list.length==0">
        Ни одного меню ещё не создано. <a href="/admin/?module=menu">Создать</a>.
    </div>

</div>