<div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{lang.label.header}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="data.title">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{lang.label.count}}</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" min="0" step="1" number v-model="data.count">
            </div>
        </div>
    </div>

</div>