<div>

    <table class="table">
        <tr>
            <td>
                <div class="form-group">
                    <label>{{lang.label.header}}</label>
                    <input type="text" class="form-control" v-model="data.title">
                </div>

                <div class="form-group">
                    <label>{{lang.label.imgUrl}}</label>
                    <input type="text" class="form-control" v-model="data.img">
                </div>

                <div class="form-group">
                    <label>{{lang.label.text}}</label>
                    <input type="text" class="form-control" v-model="data.title">
                </div>
            </td>
            <td class="col-xs-1">

            </td>
        </tr>

    </table>

</div>