<span id="city-list-block">
    <button id="city-list-btn" class="btn btn-default" @click="onShow()">
        <i class="info-ico glyphicons glyphicons-circle_question_mark" data-uk-tooltip="{pos:'top'}" title="{{lang.tooltip[39]}}"></i>
         {{current.title}}
    </button>

    <ul id="city-list" v-show="show">
        <li @click="onSelect(N._id, true)" :class="{active: (N._id == current._id) }">
            <span class="city">{{N.title}}</span>
        </li>

        <li v-for="L in cityList" track-by="$index" @click="onSelect(L._id, true)" :class="{active: (L._id == current._id) }">
            <span class="city">{{L.title}}</span>
            <span class="region" v-show="L.region && L.region.length>0">({{L.region}})</span>
        </li>
    </ul>
</span>