<span class="btn btn-default fm-btn" data-uk-modal="{target:'#{{id}}'}">
    <i class="fa fa-clipboard"></i> {{label}}
</span>

<div id="{{id}}" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header"> <h4>{{label}}</h4> </div>
        <fm-block :dir="dir"></fm-block>
        <div class="clearfix"></div>
    </div>
</div>