<span id="content-locale-block">

    <button id="content-locale-btn" class="btn btn-default" @click="onShow()">
        <i class="info-ico glyphicons glyphicons-circle_question_mark" data-uk-tooltip="{pos:'top'}" title="{{lang.tooltip[38]}}"></i>
        <img :src="getImg(current.locale)"/>
             {{current.title}}
    </button>

    <ul id="content-locale" v-show="show">
        <li v-for="L in localeList" @click="onSelect(L.locale, true)" :class="{active: L.locale==locale}">
            <img :src="getImg(L.locale)"/>
            <span>{{L.title}}</span>
        </li>
    </ul>

</span>