<li class="uk-nestable-item" :class="{'uk-parent': item.children.length>0, 'uk-collapsed': stateCollapseGet(item._id)}" data-id="{{item._id}}">
    <div class="uk-nestable-panel">
        <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
        <span class="uk-nestable-toggle" data-nestable-action="toggle" @click="stateCollapseSet(item._id)"></span>
        {{item.title}}
        <span class="function">
            <button class="uk-button uk-button-mini" @click="onEdit(item._id)">
                <i class="uk-icon-edit"></i>
            </button>
            <button class="uk-button uk-button-mini {{item.enabled ? 'uk-button-success' : 'uk-button-danger'}}" @click="onActiveStatus(item)">
                <i class="{{item.enabled ? 'uk-icon-eye' : 'uk-icon-eye-slash'}}"></i>
            </button>
            <button class="uk-button uk-button-mini uk-button-danger" @click="onDelete($event, item._id)">
                <i class="uk-icon-remove"></i>
            </button>
        </span>
    </div>

    <ul class="uk-nestable-list" v-if="item.children.length>0">
        <menu-item v-for="c in item.children | orderBy 'pos'" :item.sync="c" track-by="$index"></menu-item>
    </ul>
</li>