<ul :id="id" class="pagination" v-if="data.paginator.pages.length>0">

    <li v-if="data.paginator.prev" @click="Go(data.paginator.prev, $event)"><a :href="data.paginator.prev">&laquo;</a></li>

    <li v-for="Page in data.paginator.pages" :class="{disabled: !Page.url, active: Page.isCurrent}" @click="Go(Page.url, $event)">
        <span v-if="!Page.url">...</span>
        <a v-if="Page.url" :href="Page.url">{{Page.num}}</a>
    </li>

    <li v-if="data.paginator.next" @click="Go(data.paginator.next, $event)"><a :href="data.paginator.next">&raquo;</a></li>
</ul>
