<div class="widget" :class="{'widget-in-question': isQuestion}">
    <header @click="onSelectArea">
        <h3>{{lang.widgets.widgetList[name].title}}</h3>
    </header>

    <div class="widget-inside">
        <div class="widget-description">{{lang.widgets.widgetList[name].descr}}</div>
    </div>
    
    <div class="widgets-chooser" :style="{display: isQuestion ? 'block' : 'none'}">

        <ul class="widgets-chooser-sidebars">
            <li v-for="A in areaList" :class="{'widgets-chooser-selected': isSelected(A.name)}" @click="onSelect(A.name)">
                <i class="fa fa-check"></i>
                {{A.title}}
            </li>
        </ul>

        <div class="widgets-chooser-actions">
            <button class="uk-button uk-button-small" @click="onCancel">{{lang.btns.cancel}}</button>
            <button class="uk-button uk-button-small uk-button-primary" @click="onAdd(name)">{{lang.btns.add_widget}}</button>
        </div>

    </div>
    
</div>