<div class="form-group">
    <label class="col-xs-4 control-label">{{lang.list.yandex.shopId}}</label>
    <div class="col-xs-8">
        <input class="form-control" type="text" v-model="item.shopId">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-4 control-label">{{lang.list.yandex.scid}}</label>
    <div class="col-xs-8">
        <input class="form-control" type="text" v-model="item.scid">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-4 control-label">{{lang.list.yandex.shopPassword}}</label>
    <div class="col-xs-8">
        <input class="form-control" type="text" v-model="item.shopPassword">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-4 control-label">{{lang.isTest}}</label>
    <div class="col-xs-4">
        <switch-box :value.sync="item.isTest"></switch-box>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-4 control-label">{{lang.formAction}}</label>
    <div class="col-xs-8 top-5">{{item.formAction[item.isTest ? 'test' : 'production']}}</div>
</div>
