<div class="panel panel-visible">
    <div class="panel-heading">Новости Mastodont</div>
    <div class="panel-body">
        <!--
        <div class="spinner" v-show="isLoading"></div>
        -->


    </div>
</div>