a,
.button:hover,
a.button-secondary,
.load_more_jobs,
.load_more_resumes,
.wp-submit:hover,
.btt:hover i,
#submitcomment:hover,
.jobify_widget_slider .button-secondary:hover,
input[type="submit"]:hover,
.entry-header a:hover,
.entry-title a:hover,
.jobify_widget_slider .soliloquy-container a.button-secondary:hover,
.job-manager-form.wp-job-manager-bookmarks-form a:hover,
.job_listing a.view-video:hover,
.resume a.view-video:hover,
.job-manager-pagination a,
.job-manager-pagination span {
    color: #00a9e0;
}

#searchsubmit:hover {
    color: #fff;
}


.button,
.button-secondary:hover,
.search_jobs,
.search_resumes,
.load_more_jobs:hover,
.load_more_resumes:hover,
.paginate-links .page-numbers:hover,
.wp-submit,
button.mfp-close,
#submitcomment,
#searchsubmit,
input[type="submit"],
.content-grid .featured-image .overlay,
.nav-menu-primary .sub-menu,
.nav-menu-primary .children,
.site-primary-navigation.open,
.site-primary-navigation.close,
#pmc_mailchimp div input[type="submit"],
.mailbag-wrap input[type="submit"],
.pricing-table-widget .pricing-table-widget-title,
.jobify_widget_price_table_rcp .pricing-table-widget-title,
#rcp_registration_form .pricing-table-widget-title,
.job-tag,
.job-type,
.jobify_widget_slider_hero a.button,
.mfp-close-btn-in button.mfp-close:hover,
.cluster div,
.job_listing a.view-video,
.resume a.view-video,
.job-manager-form.wp-job-manager-bookmarks-form a,
.job-manager-pagination a:hover,
.job-manager-pagination span:hover {
    background: #00a9e0;
}

.button:hover,
a.button-secondary,
.load_more_jobs,
.load_more_resumes,
.paginate-links .page-numbers:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus,
.wp-submit:hover,
#submitcomment:hover,
#searchsubmit:hover,
input[type="submit"]:hover,
.job-manager-form.wp-job-manager-bookmarks-form a:hover,
.cluster div:after,
.woocommerce-message,
.woocommerce-error li,
.job_listing a.view-video:hover,
.resume a.view-video:hover,
.job-manager-pagination a,
.job-manager-pagination span {
    border-color: #00a9e0;
}

.nav-menu-primary ul li a,
.nav-menu-primary li a,
.primary-menu-toggle i,
.site-primary-navigation .primary-menu-toggle,
.site-primary-navigation #searchform input[type="text"],
.site-primary-navigation #searchform button {
    color: #ffffff;
}

.nav-menu-primary li.login > a,
.nav-menu-primary li.highlight > a {
    border-color: #ffffff;
}

.site-primary-navigation:not(.open) li.login > a:hover,
.site-primary-navigation:not(.open) li.highlight > a:hover {
    color: #00a9e0;
    background: #ffffff;
}

.site-header,
.nav-menu-primary .sub-menu {
    background: #00a9e0;
}

.footer-cta {
    color: #ffffff;
    background: #00a9e0;
}

ul.job_listings .job_listing:hover,
.job_position_featured,
li.type-resume:hover {
    box-shadow: inset 5px 0 0 #00a9e0;
}

.job-type.term-5,
.job-type.freelance {
    background-color: #3399cc;
}

.job-type.term-2,
.job-type.full-time {
    background-color: #01be7e;
}

.job-type.term-6,
.job-type.internship {
    background-color: #00aabc;
}

.job-type.term-3,
.job-type.part-time {
    background-color: #f08d3c;
}

.job-type.term-4,
.job-type.temporary {
    background-color: #e22712;
}

</style> <style type="text/css"> .site-title span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.site-branding,
.site-description {
    color: #fff;
}

body.custom-background {
    background-color: #ffffff;
}

.tp-caption.slider-text,
.slider-text {
    font-size: 16px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: none
}

.tp-caption.slider-title,
.slider-title {
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: rgb(34, 34, 34);
    border-style: none
}