.spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
}

.spinner.big{background-image: url(../img/middle-spinner.gif)}
.spinner.middle{background-image: url(../img/spinner_48.gif)}
.spinner.miti{background-image: url(../img/spinner_24.gif)}

.geo-inner{position:relative;}
.geo-inner .spinner{
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
}

.modal #lostpass{
    padding: 30px;
}

#login-modal-wrap.modal #lostpass .has-account button{
    float: right;
    width: 160px;
    padding: 10px;
}

#lostpass,
#loginform,
#register-form{position:relative;}

#lostpass .spinner,
#loginform .spinner,
#register-form .spinner{
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

#register-form .up-layer-notify{width: 100%}