@media (max-width:1199px) {
    .site-header .container {
        padding: 1.5em 0 0.8em;
    }
    .top-header .top-location {
        width: 20%;
    }
    .choose-city a.show-new-ads {
        float: left;
        display: block;
        clear: both;
        width: 100%;
        margin-top: 13px;
        border-bottom: 0;
    }
    .home-category-inner {
        min-height: 343px;
    }
    .global-search-with-categories .global-search input {
        width: 90%;
    }
    .user-map-inner {
        margin-top: 20px;
    }
    .seller-card-inner .seller .top-seller-head img {
        margin-top: 6px;
    }
    .active-user.accordion {
        display: block;
        clear: both;
        width: 100%;
    }
    .top-header .user-wallet {
        width: 10%;
        float: right;
        display: inline-block;
        text-align: left;
        margin-right: 13px;
    }
    #follow-miniature {
        width: 260px;
        height: 260px;
        display: block;
        clear: both;
        margin-bottom: 10px;
    }
    .create-ad-block .drop-zone .photo-miniature {
        width: 32.5%;
    }
}

@media (max-width:991px) {
    .logo {
        width: 24%;
    }
    .top-header .top-search {
        width: 73%;
        padding-top: 10px;
    }
    .top-header .top-location {
        width: 30%;
        padding: 20px 0 0;
    }
    .home-category-inner {
        min-height: 250px;
    }
    .top-header .top-login {
        padding: 21px 0 2px;
    }
    .nav-menu-primary li.login > a,
    .nav-menu-primary li.highlight > a {
        font-size: 0;
        background-image: url(../images/add-ad.png);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: 27px 8px;
        background-color: #00A9E0;
        border: 0;
        padding: 9px 31px 10px 4px;
    }
    h2,
    .h2 {
        font-size: 24px;
    }
    .sidebar article.post {
        width: 47%;
        float: left;
        margin: 0 2% 0 0;
    }
    .sidebar article.post:nth-child(2n+1) {
        margin: 0 0 0 2%;
    }
    .sidebar .popular-seller .seller {
        width: 47%;
        float: left;
        margin: 0 2% 0 0;
        border-bottom: 0;
        min-height: 165px;
    }
    .sidebar .popular-seller .seller:nth-child(2n+1) {
        margin: 0 0 0 2%;
    }
    .sidebar .popular-seller .seller figure {
        padding-top: 10px;
    }
    #search-city-form input {
        width: 84%;
    }
    .global-search-with-categories .global-search input {
        width: 87%;
    }
    .sidebar.personal-sidebar.job-spotlight {
        margin-top: 0;
    }
    .top-header .user-wallet {
        width: 18%;
        float: left;
        padding-top: 20px;
    }
    .top-header .user-messages {
        padding: 20px 0 0 15px;
    }
    .top-header .active-user.accordion {
        display: block;
        clear: none;
        width: 33%;
        padding: 18px 0 0 0;
    }
    .create-ad-block .drop-zone .title {
        display: none;
    }
    .create-ad-block .drop-zone .photo-miniature {
        width: 19.5%;
    }
    #follow-miniature {
        width: 360px;
        height: 360px;
        display: block;
        clear: both;
        margin-bottom: 10px;
    }
}

@media (max-width:767px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }
    .site-primary-navigation {
        padding: 30px 0 18px;
    }
    ul.nav-menu-primary {
        display: none;
    }
    ul.nav-menu-primary.opened {
        display: block;
    }
    .primary-menu-toggle.in-header {
        display: block;
        top: 23px;
        right: -12px;
        padding-right: 0;
    }
    .nav-menu-primary li,
    .nav-menu-primary ul li {
        display: block;
        clear: both;
        width: 100%;
        margin: 0 !important;
        border-bottom: 0;
    }
    .nav-menu-primary li:hover,
    .nav-menu-primary li:active,
    .nav-menu-primary li:focus {
        outline: none;
        border: none;
        background: #0098CA;
    }
    .nav-menu-primary li.login > a,
    .nav-menu-primary li.highlight > a {
        font-size: 16px;
        background-image: none;
    }
    .choose-city a.show-new-ads {
        font-size: 16px;
        /* border-bottom: 1px dotted #00A9E0; */
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .home-category-inner {
        min-height: 10px;
        height: auto;
    }
    .sidebar .popular-seller,
    .sidebar .sidebar-articles {
        display: block;
        clear: both;
        width: 100%;
        position: relative;
    }
    .sidebar .popular-seller .seller {
        width: 100%;
        margin: 0;
    }
    .sidebar .popular-seller .seller:nth-child(2n+1) {
        margin: 0;
    }
    .sidebar .popular-seller .seller figure {
        padding-top: 6px;
    }
    .seller .specialisation,
    .seller .specialisation a,
    .seller .about-user,
    .seller a.more-info {
        font-size: 15px;
    }
    .duplicate-menu {
        display: none;
    }
    .pluso-widget {
        text-align: left;
    }
    #search-city-form input {
        width: 100%;
    }
    #remove-text {
        background: transparent;
        color: #C3C3C3;
        position: absolute;
        top: 3px;
        right: 6px;
    }
    #login-modal-wrap.modal #loginform .has-account button,
    #add-advertisement-wrap.modal #loginform .has-account button {
        width: 100%;
        margin-top: 15px;
    }
    .mobile-register-link {
        display: block;
    }
    .registrate-modal-inner {
        display: none;
    }
    .geo-inner .federals-inner,
    .geo-inner .cities-inner {
        display: none;
    }
    .modal-back {
        display: block;
    }
    .global-search-with-categories .global-search input {
        width: 83%;
    }
    .contact-user-inner {
        padding-bottom: 20px;
    }
    .user-map-inner {
        display: block;
        clear: both;
    }
    .specialisation-inner {
        display: block;
        clear: both;
        padding-top: 10px;
    }
    .seller-card-inner .logo-seller {
        width: 140px;
    }
    .other-sum-inner button {
        width: 100%;
        display: block;
        clear: both;
        margin: 10px 0;
    }
    .other-sum-inner button.other-sum {
        text-align: left;
    }
    .pay-info {
        width: 100%;
    }
    .create-ad-block .drop-zone .photo-miniature {
        width: 23.5%;
    }
    #follow-miniature {
        width: 360px;
        height: 100%;
        top: 0;
        margin-right: 50%;
        margin-left: 50%;
        left: -180px;
    }
    .create-ad-block form.create-ad .category-of-new-ad .category-col {
        width: 100%;
        display: block;
        border: 1px solid #ccc;
    }
    .category-col3, .category-col2, .category-col4 {
        display: none !important;
    }
    .create-ad-block form.create-ad .category-of-new-ad .category-col .modal-back {
        text-align: left;
        background:transparent;
        padding: 10px 5px 10px 0;
        margin-left: 10px;
        border-radius: 0;
    }
    .create-ad-block ul.select-category input[type=radio] + label {
        width: 100.4%;
    }
    .create-ad-block input[type="file"] {
        margin: 20px 0 10px;
        color: transparent;
    }
}

@media (max-width:619px) {
    .container {
        width: 460px;
        margin: 0 auto;
    }
    .logo {
        width: 33%;
    }
    .top-header .top-search {
        width: 63%;
        padding-top: 0;
    }
    .sidebar article.post {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .sidebar article.post:nth-child(2n+1) {
        margin: 0 0 20px 0;
    }
    img.wp-post-image {
        height: auto;
        width: 100%;
    }
    .sidebar .popular-seller .seller figure {
        padding-top: 20px;
    }
    .global-search-with-categories .global-search input {
        width: 77%;
    }
    .top-header .active-user.accordion {
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
    .top-header .active-user.accordion .accordion-section-content {
        width: 457px;
    }
    .top-header .top-location {
        width: 40%;
    }
    .top-header .user-wallet {
        width: 26%;
    }
    .top-header .user-messages {
        float: right;
        margin-right: 20px;
    }
    .custom-file-input::before {
        padding: 7px 32px;
        font-size: 13pt;
        width: 100%;
        display: block;
        text-align: center;
    }
    .personal-inner .personalform input[type="file"] {
        color: transparent;
        padding: 0;
            background: transparent;
        margin-top: 20px;
    }
    .personal-inner .personalform .save-changes button {
        display: block;
        width: 100%;
    }
    #follow-miniature {
        width: 260px;
        height: 100%;
        top: 0;
        margin-right: 50%;
        margin-left: 50%;
        left: -130px;
    }
    .create-ad-block input[type="file"] {
        width: 100%;
    }
    .create-ad-block .choose-city button {
        display: block;
        clear: both;
        width: 100%;
        margin: 10px 0;
        padding: 9px 10px;
    }
    .create-ad-block .choose-city .list-of-cities .chosen-city {
        margin: 10px 10px 0 0;
    }
}

@media (max-width:480px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .site-header .container {
        padding: 1.5em 20px 0.8em;
    }
    .site-header .nav-header .container {
        padding: 0 20px !important;
    }
    .primary-menu-toggle.in-header {
        right: 6px;
    }
    .nav-menu-primary li.login > a,
    .nav-menu-primary li.highlight > a {
        width: 100%;
        text-align: center;
    }
    .seller .row .seller-listing-link .logo-seller.col-xs-3 {
        width: 100%;
    }
    .seller .row .seller-listing-link .descr-seller.col-xs-9 {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        text-align: center;
    }
    .sidebar .popular-seller .seller figure {
        padding-top: 0px;
        text-align: center;
    }
    .sidebar .popular-seller .seller figure img {
        width: 160px;
        margin: 0 auto;
    }
    .modal-back {
        width: 100%;
    }
    .global-search-with-categories .global-search input {
        width: 100%;
    }
    .global-search-with-categories .global-search button {
        width: 100%;
        margin-top: 10px;
    }
    .seller-card-inner .logo-seller {
        width: 100%;
        text-align: center;
    }
    .seller-card-inner .seller .top-seller-head figure.logo-seller img {
        width: 160px;
        margin: 0 auto;
    }
    .seller-card-inner .seller .top-seller-head .descr-seller,
    .seller-card-inner .seller .top-seller-head .specialisation-inner,
    .registration-time {
        width: 100%;
        text-align: center;
    }
    .sidebar .sidebar-navigation .descr-seller {
        text-align: center;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li {
        text-align: center;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li.ad-upp i {
        margin-right: 10px;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li.ad-liked i {
        margin-right: 10px;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li.personal-message i {
        margin-right: 10px;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li.add-comment i {
        margin-right: 10px;
    }
    .sidebar .sidebar-navigation .nav-buttons ul li a i {
        margin-right: 10px;
    }
    .top-header .active-user.accordion .accordion-section-content {
        width: 100%;
    }
    .select-sum .sum-block {
        width: 100%;
        display: block;
        clear: both;
        margin-bottom: 10px;
    }
    #follow-miniature {
        width: 220px;
        height: 100%;
        top: 0;
        margin-right: 50%;
        margin-left: 50%;
        left: -110px;
    }
    .create-ad-block .drop-zone .photo-miniature {
        width: 32.5%;
    }
    .create-ad-block .choose-city .list-of-cities .chosen-city {
        width: 100%;
        margin: 10px 0;
        display: block;
        text-align: center;
    }
    .page-notify {
        font-size: 15px;
    }
    .up-layer-notify {
        font-size: 12px;
    }
    .error-inner .num-of-error {
        font-size: 140px;
    }
    .error-inner .descr-of-error {
        font-weight: 500;
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .logo img {
        width: 190px;
    }
    .top-header .top-search {
        width: 91%;
    }
    .top-header .top-location {
        width: 90%;
        text-align: center;
    }
    .top-header .top-login {
        margin-right: -6px;
    }
    .top-header .top-login a {
        font-size: 0;
    }
    .top-header .top-login a i {
        font-size: 20px;
    }
    .choose-city {
        padding-bottom: 45px;
    }
    .choose-city h6,
    .choose-city .h6 {
        font-size: 13px;
    }
    .choose-city a.show-new-ads {
        font-size: 14px;
        margin-top: 24px;
    }
    .home-category h4.category-title,
    .home-category .h4.category-title {
        font-size: 18px;
    }
    .top-header .top-location a {
        margin-left: 25px;
    }
    .top-header .user-wallet {
        width: 160px;
        margin: 0 50% 20px;
        left: -60px;
        position: relative;
        display: block;
        clear: both;
    }
    .top-header .user-messages {
        display: none;
    }
    .personal-ads-list article .col-xs-8 {
        width: 64%;
    }
    .personal-ads-list header {
        line-height: 10px;
    }
    .personal-ads-list header a.h6 {
        font-size: 14px;
    }
    .sidebar.personal-sidebar .user-wallet a.get-money {
        display: block;
        clear: both;
        width: 100%;
        margin: 20px 0;
    }
    #follow-miniature {
        width: 170px;
        height: 100%;
        top: 0;
        margin-right: 50%;
        margin-left: 50%;
        left: -85px;
    }
    .create-ad-block .drop-zone .photo-miniature {
        width: 48.5%;
    }
}